*{
  box-sizing: border-box;
}

body {
  background-color: #242B33;
  color: #ffffff;
  
}

.header {
width: 100vw;
height: 100vh;
 background: url("assets/img/rectangle.png");
}

.container {
max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
   
  }

.headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #D4C17F;
  margin-bottom: 30px;
}

.input {
  display: block;
  font-size: 14px;
  line-height: 27px;
  padding: 12px 20px;
  max-width: 255px;
   width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: 0;
}

.input::placeholder {
  color: #BEBEBE;
}

.btn {
  display: block;
  max-width: 255px;
    font-weight: 700;
    width: 100%;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  background: #D4C17F;
  padding: 12px 20px;
  border: 0;
}

.logo p {
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.12em;
color: #FFFFFF;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__wrapper {
  display: flex;
  }

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 541px;
  height: 16px;
  left: 974px;
  top: 55px;
  padding: 0;
  margin: 0 30px 0;
  list-style-type: none;
}

.menu__item {
    margin-left: 20px;
  margin-right: 20px;
}

.menu__link {
  font-family: Haleway;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color:  #ffffff;
  text-decoration: none;
}

.menu__link:hover,
.menu__link:focus {
  color: #D4C17F;
}

.menu__link:focus {
  outline: 0;
}

/*Preview */

.preview {
  background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), 
  linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), 
  url(assets/img/bg.jpg);
  padding: 180px 0;
}

.preview__inner-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.preview__text {
  flex-basis: 50%;
   font-size: 16px;
    line-height: 24px;
    padding-right: 15px;

}

.preview__form {
  flex-basis: 50%;
  padding-left: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.preview__form > * {
  flex-basis: 50%;
}

.preview__form > *:nth-child(2n){
  padding-left: 15px;
}

.preview__form > *:nth-child(2n + 1){
  padding-right: 15px;
}


.previer__label {
  margin-bottom: 35px;
}

.preview__form-text {
  text-align: center;
    font-size: 13px;
  line-height: 16px;
  color: #E7E7E7;
}

/* Footer */

.footer {
  padding: 70px 0 50px;
}

.footer a {
  color: #FFFFFF;
  text-decoration: none;
}

.footer a:hover {
   color: #D4C17F;
}

.footer__menu-item {
  margin-bottom: 15px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
} 

.footer__address {
  margin-bottom: 20px;
}

.socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.socials__item {
  margin-right: 20px;
}

.socials__link:hover path {
  fill: #D4C17F;
}