.container {
width: 1920px;
margin-left: auto;
margin-right: auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.menu__wrapper {
  display: flex;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0 40px 0 0;
  list-style-type: none;
}

.menu__item {
  margin-left: 25px;
  margin-right: 25px;
}

.menu__link {
 font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.05em;

color: #ffd700; 
}