*{
  box-sizing: border-box;
}

body {
  background-color: #242B33;
  
}

.header {
width: 100vw;
height: 100vh;
 background: url("assets/img/rectangle.png");
}

.container {
max-width: 1110px;
    margin: 0 auto;
   
  }

.logo p {
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.12em;
color: #FFFFFF;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__wrapper {
  display: flex;
  }

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 541px;
  height: 16px;
  left: 974px;
  top: 55px;
  padding: 0;
  margin: 0 30px 0;
  list-style-type: none;
}

.menu__item {
  margin-left: 20px;
  margin-right: 20px;
}

.menu__link {
  font-family: Haleway;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color:  #ffffff;
  text-decoration: none;
}

.menu__link:hover,
.menu__link:focus {
  color: #D4C17F;
}

.menu__link:focus {
  outline: 0;
}

.page-footer {
  padding: 40px 0;
  background-color: #2D343C;
  color: #ffffff;
}

.page-footer a {
  margin-left: 56px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}


.footer-email {
  padding-left: 30px;
  background-image: url("img/icon-email-footer.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-footer.svg");
}